body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background-color: rgba(174, 202, 224, 0.46);
  font-family: 'Quattrocento', serif;
  width: 80%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  color: white;
}
#location {
  font-size: 3em;
  font-weight: bolder;
    text-align: center;
}
#description {
  font-style: italic;
  font-size: 1.5em;
}
.temperature, .humidity, .wind {
    font-size: 1.5em;
}
.icon, .description {
  display: inline-block;
  padding: 20px;
}
#check-another-loc {
    cursor: pointer;
    text-decoration: underline;
}
#check-another-loc:hover{
    color: white;
}
footer {
  margin: auto 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
